body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #50B547;
    font-size: 75px;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    color: #202835;
}

h3 {
    color: #202835;
    font-weight: bold;
}

h4 {
    color: #202835;
    font-size: 23px;
}

h6 {
    color:#202835;
    font-size: 20px;
}

h7, h8 {
    color:  #202835;
    font-size: 23px;
}

/* Navbar - projects, experience, about links */
.nav-link:link {
    color: #1E2330;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.nav-link:visited {
    color: #1E2330;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.nav-link:hover {
    color:#878fa0;
    background-color: transparent;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}

/* Footer links */
a:link {
    color: #1E2330;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #1E2330;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color:#878fa0;
    background-color: transparent;
    text-decoration: underline;
}

/* Footer social icons */
i:link {
    color: #50B547;
    text-decoration: none;
}
i:visited {
    color: #50B547;
    text-decoration: none;
}
i:hover {
    color:#878fa0;
    background-color: transparent;
    text-decoration: underline;
}

.bio-text {
    font-size: 23px;
}

.site-footer{ 
    padding: 20px 0;
}

.navbar {
    padding: 10px;
    background-color:#FFFFFF; 
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    padding: 10px;
    background-color:#202835;
    color: white;
    text-align:center; 
}

.title {
    color:#ecfbfd;
    font-size: 20px;
    font-weight: bold; 
}

.name {
    color: #1f5fd6;
    font-size: 40px;
    font-weight: bold;  
}

.navbar-nav {
    font-size: 25px;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px; 
    font-weight: bold;
}

.row-content {
    padding: 50px 0;           
    border-bottom: 1px ridge;
    min-height: 200px;
}

.fa-github, .fa-linkedin, .fa-twitter, .fa-youtube {
    color: #50B547;
}  

.about-card {
    background-color: rgb(253, 177, 152); 
}

.card-body {
    font-size: 18px;
}